# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.production
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp files
*.tmp
*.temp

# Local Netlify folder
.netlify
